<div *ngIf="headerText" class="sort-header" (click)="onSort()">
  {{ headerText }}
  <mat-icon *ngIf="sortDirection === 'asc'">arrow_drop_up</mat-icon>
  <mat-icon *ngIf="sortDirection === 'desc'">arrow_drop_down</mat-icon>
</div>
<mat-selection-list
  #items
  [multiple]="multiple"
  (selectionChange)="onSelectionChange($event)"
>
  <mat-list-option
    *ngFor="let item of data; trackBy: identify"
    [value]="item"
    [selected]="isSelected(item)"
  >
    <!--  Use this for selected. Pipes are mad at me in stackblitz   [selected]="item | isSelected: _selectedData:uniqueId" -->
    {{ item[displayProperty] || item }}
  </mat-list-option>
</mat-selection-list>
